@use "uswds-core" as *;

.usa-button--secondary {
  background-color: color($theme-color-error);

  &.usa-button--hover,
  &:hover {
    background-color: color($theme-color-error-dark);
  }

  &.usa-button--active,
  &:active {
    background-color: color($theme-color-error-darker);
  }
} // .usa-button--secondary
