@use "uswds-core" as *;

// Buttons
.usa-button {
  position: relative;
  height: units(6);
  padding: units(2) units(2.5);

  &:focus,
  &.usa-focus,
  &.usa-button:not([disabled]):focus,
  &.usa-button:not([disabled]).usa-focus {
    outline: 4px solid color("white");
    outline-offset: 0;

    &::after {
      content: "";
      position: absolute;
      inset: -4px;
      border-radius: inherit;
      box-shadow: 0 0 0 4px color($theme-focus-color);
      pointer-events: none;
    }
  }
} // .usa-button
