/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/
@use "uswds-core" as *;
// Banner
.nj-banner {
  @include typeset($theme-banner-font-family);
  @include border-box-sizing;
  background-color: color($theme-banner-background-color);
  font-size: font-size($theme-banner-font-family, "2xs");
  line-height: line-height($theme-banner-font-family, 1);
  min-height: units($size-touch-target);
  position: relative;
}
.nj-banner__header {
  @include u-padding-y(1);
}
.nj-banner__header,
.nj-banner__header a {
  @include set-text-from-bg($theme-banner-background-color);
  text-decoration: none;
}
.nj-banner__header a:hover {
  text-decoration: underline;
}
.nj-banner__header li {
  display: none;
  @include at-media("tablet") {
    display: inline;
  }
  @include u-margin-right(1);
  @include u-padding-right(1);
  @include u-border-right(1px);
}

.nj-banner__header li:last-child {
  display: inline;
  @include u-margin-right(0);
  @include u-padding-right(0);
  @include u-border-right(0);
}
.nj-banner__inner {
  @include grid-row;
  @include u-flex("align-center");
  padding-right: units(0);
}
.nj-banner__header-seal {
  padding-right: units(1);
}
// hero
.usa-hero__callout {
  background-color: color("secondary-darker");
}
// Section
.usa-section--dark {
  background-color: color("secondary-darker");
}

// Tighten letter spacing for h1 and intro text
.usa-prose > h1,
.usa-intro {
  letter-spacing: -0.4px;
}

// Wrap long links that would break page container
.usa-prose a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// Nav
.usa-nav__secondary-links a {
  color: color("base-darker");
}

// Header - prevent wrapping of logo text
.usa-header--extended {
  .usa-logo {
    max-width: 50%;
  }
}

// Buttons
.usa-button {
  height: units(6);
  padding: units(2) units(2.5);
  &.nj-button--icon {
    padding-top: units(1.5);
    padding-bottom: 0.875rem;
  }
}

.nj-button--icon svg {
  vertical-align: sub;
  margin-bottom: -2px;
}

.usa-button:focus,
.usa-button.usa-focus {
  outline-color: color($theme-color-primary-vivid);
}

// Primary Buttons (dark)
.usa-button.nj-button--primary-dark:not(:disabled) {
  color: color($theme-text-color);
  background-color: color($theme-color-base-lightest);
}

.usa-button.nj-button--primary-dark.usa-button--hover:not(:disabled),
.usa-button.nj-button--primary-dark:hover:not(:disabled) {
  color: color($theme-text-color);
  background-color: color($theme-color-base-lighter);
}

.usa-button.nj-button--primary-dark.usa-button--active:not(:disabled),
.usa-button.nj-button--primary-dark:active:not(:disabled) {
  color: color($theme-text-color);
  background-color: color($theme-color-base-light);
}

// Primary Buttons (danger)
.usa-button--secondary {
  background-color: color($theme-color-error);
}

.usa-button--secondary.usa-button--hover,
.usa-button--secondary:hover {
  background-color: color($theme-color-error-dark);
}

.usa-button--secondary.usa-button--active,
.usa-button--secondary:active {
  background-color: color($theme-color-error-darker);
}

// Secondary buttons (light)
.usa-button--outline {
  color: color($theme-color-primary-dark);
  box-shadow: inset 0 0 0 2px color($theme-color-primary-dark);
}

.usa-button--outline.usa-button--hover,
.usa-button--outline:hover {
  color: color($theme-color-primary-darker);
  box-shadow: inset 0 0 0 2px color($theme-color-primary-darker);
}

.usa-button--outline.usa-button--active,
.usa-button--outline:active {
  color: color($theme-color-primary-darkest);
  box-shadow: inset 0 0 0 2px color($theme-color-primary-darkest);
}

// Secondary Buttons (dark)
.usa-button--outline.usa-button--inverse:not(:disabled) {
  color: color($theme-link-reverse-active-color);
  box-shadow: inset 0 0 0 2px color($theme-link-reverse-active-color);
}

.usa-button--outline.usa-button--inverse.usa-button--hover:not(:disabled),
.usa-button--outline.usa-button--inverse:hover:not(:disabled) {
  color: color($theme-color-base-lighter);
  box-shadow: inset 0 0 0 2px color($theme-color-base-lighter);
}

.usa-button--outline.usa-button--inverse.usa-button--active:not(:disabled),
.usa-button--outline.usa-button--inverse:active:not(:disabled) {
  color: color($theme-color-base-light);
  box-shadow: inset 0 0 0 2px color($theme-color-base-light);
}

// Secondary Buttons (danger)
.usa-button--outline.nj-button--outline-danger:not(:disabled) {
  color: color($theme-color-error);
  box-shadow: inset 0 0 0 2px color($theme-color-error);
}

.usa-button--hover.nj-button--outline-danger:not(:disabled),
.usa-button--outline.nj-button--outline-danger:hover:not(:disabled) {
  color: color($theme-color-error-dark);
  box-shadow: inset 0 0 0 2px color($theme-color-error-dark);
}

.usa-button--active.nj-button--outline-danger:not(:disabled),
.usa-button--outline.nj-button--outline-danger:active:not(:disabled) {
  color: color($theme-color-error-darker);
  box-shadow: inset 0 0 0 2px color($theme-color-error-darker);
}

// Unstyled buttons (light)
.usa-button--unstyled {
  border-radius: units(0.5);
  padding: units(0.5);
  font-weight: $theme-font-weight-bold;
  height: auto;
}
.usa-button--unstyled.usa-button--hover,
.usa-button--unstyled:hover {
  color: color($theme-color-primary-darker);
}

.usa-button--unstyled.usa-button--active,
.usa-button--unstyled:active {
  color: color($theme-color-primary-darkest);
}

// Unstyled Buttons (dark)
.usa-button--unstyled.nj-button--unstyled-dark {
  color: color($theme-text-reverse-color);
}

.usa-button--unstyled.nj-button--unstyled-dark.usa-button--hover,
.usa-button--unstyled.nj-button--unstyled-dark:hover {
  color: color($theme-color-base-lighter);
}

.usa-button--unstyled.nj-button--unstyled-dark.usa-button--active,
.usa-button--unstyled.nj-button--unstyled-dark:active {
  color: color($theme-color-base-light);
}

// Unstyled Buttons (danger)
.usa-button--unstyled.nj-button--unstyled-danger:not(:disabled) {
  color: color($theme-color-error);
}

.usa-button--hover.nj-button--unstyled-danger:not(:disabled),
.usa-button--unstyled.nj-button--unstyled-danger:hover:not(:disabled) {
  color: color($theme-color-error-dark);
}

.usa-button--active.nj-button--unstyled-danger:not(:disabled),
.usa-button--unstyled.nj-button--unstyled-danger:active:not(:disabled) {
  color: color($theme-color-error-darker);
}

.usa-icon:not(
    .usa-icon--size-3,
    .usa-icon--size-4,
    .usa-icon--size-5,
    .usa-icon--size-6,
    .usa-icon--size-7,
    .usa-icon--size-8,
    .usa-icon--size-9
  ) {
  height: 20px;
  width: 20px;
}

.usa-icon.nj-icon--size-scale {
  height: 1em;
  width: 1em;
}

// Radio Buttons
.usa-radio {
  background: none;
}

.usa-radio__label::before {
  box-shadow: 0 0 0 2px color($theme-color-base);
}

// Radio & Checkbox tile variants
.usa-radio__input--tile:checked + [class*="__label"],
.usa-checkbox__input--tile:checked + [class*="__label"] {
  background-color: color($theme-color-primary-lighter);
}

.usa-radio__input--tile + [class*="__label"],
.usa-checkbox__input--tile + [class*="__label"] {
  border-color: color($theme-color-base-light);
}
.usa-radio__input.usa-radio__input--tile:checked + [class*="__label"]::before, 
.usa-checkbox__input.usa-checkbox__input--tile:checked + [class*="__label"]::before{
  box-shadow: 0 0 0 2px #005ea2, inset 0 0 0 2px #cfe8ff;
}

.nj-error-message-container {
  margin-top: units(1.5);
  display: flex;
  align-items: flex-start;
  color: color($theme-color-error-dark);
}

.nj-error-message-container > svg {
  flex-shrink: 0;
  margin-right: units(1);
}

.usa-error-message {
  padding: units(0);
}

.usa-form-group--error {
  padding-left: units(2.5);
}

.nj-checkbox--error > .usa-checkbox__label::before {
  box-shadow: 0 0 0 2px color($theme-color-error-dark);
}

.nj-radio--error > .usa-radio__label::before {
  box-shadow: 0 0 0 2px color($theme-color-error-dark);
}
