/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings
@forward "uswds-theme";
@forward "uswds";
@forward "uswds-theme-custom-styles";
@forward "simpligov";

// .page-content .formFieldWrapper.submit-button-wrapper > div > input {
//    font-family:Public Sans Web;
//    font-size:1rem;
//    line-height:1;
//    color:#fff;
//    background-color:#0076d6;
//    -webkit-appearance:none;-moz-appearance:none;appearance:none;
//    align-items:center;
//    border:0;
//    border-radius:.25rem;
//    cursor:pointer;
//    -moz-column-gap:.5rem;
//    column-gap:.5rem;
//    display:inline-flex;
//    font-weight:700;
//    justify-content:center;
//    margin-right:.5rem;
//    text-align:center;
//    text-decoration:none;
//    width:100%
// }

// SimpliGov
// Text input
// .formFieldWrapper.text-box-wrapper input.input-text, .form-element-wrapper.text-box input.field {
//  @extend .usa-input;
// }

// //text area
// .formFieldWrapper.text-area-wrapper textarea.textarea-input, .form-element-wrapper.text-area textarea.field {
//  @extend .usa-textarea;
// }

// // checkbox and radio labels {
// .formFieldWrapper .radio-checkbox-label, .form-element-wrapper .radio-checkbox-label {
//  @extend .usa-checkbox__label;
// }

// .form-label {
//   @extend .usa-label;
// }

// // form heading {
// .workflowContent .formFieldWrapper.heading-wrapper h3 {
//  @extend .usa-legend;
// }

// submit button

/* Load the button component */

//  .page-content .formFieldWrapper.submit-button-wrapper > div > input {
//    @include usa-button;
//  }
