<script
  src="/dist/js/mockFetch.js"
></script>
<script>
  const feedbackApiUrl = "{{ feedbackApiUrl }}"
  const mockResponse = {{ mockResponse | dump | safe }}
  initMockFetch({
    [`${feedbackApiUrl}/rating`]: mockResponse,
    [`${feedbackApiUrl}/comment`]: mockResponse
  }, {{ mockResponseDelayInMs }})
</script>

<script
  src="https://unpkg.com/@newjersey/feedback-widget@{{ widgetVersion }}/feedback-widget.min.js"
  defer
></script>
<feedback-widget
  skip-email-step="true"
></feedback-widget>
