@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  min-width: 0 !important;
}

.form-section {
  padding-left: 0 !important;
}

#StageSubmitForm:not(.recordForm) {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#print-preview {
  display: none;
}

#section-breadcrumbs {
  padding: 0 10px;
}

@media (max-width: 30rem) {
  .section-breadcrumb-item {
    padding: 10px;
    width: 47%;
  }
}

.workflowContent .formFieldWrapper.heading-wrapper {
  margin-top: 20px;
}

h3,
.workflowContent .formFieldWrapper.heading-wrapper h3 {
  font-family: "Public Sans", sans-serif !important;
  font-size: 1.38rem !important;
  line-height: 1.2 !important;
  font-weight: 700 !important;
  margin-bottom: 0;
  margin-top: 0;
  clear: both;
  display: block !important;
  border: 0;
  padding: 0;

  strong {
    font-weight: 400 !important;
  }
}

#workflow-wrapper form {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px !important;
  line-height: 1.4 !important;
  margin-bottom: 200px !important;
}

.form-static-html {
  line-height: 1.4 !important;
  margin-bottom: 1.5rem;
}

.form-static-html p,
.form-static-html ul {
  line-height: 1.4 !important;
  margin-bottom: 1.5rem;

  p {
    margin: 0 !important;
  }
}

.formFieldWrapper span.input-text {
  display: block;
}

.nj-banner ul {
  padding: 19px 0;
}

div#workflow-wrapper {
  max-width: 1000px;
  margin: auto;
}
