@use "uswds-core" as *;

.usa-icon {
  &:not(
    .usa-icon--size-3,
    .usa-icon--size-4,
    .usa-icon--size-5,
    .usa-icon--size-6,
    .usa-icon--size-7,
    .usa-icon--size-8,
    .usa-icon--size-9
  ) {
    height: 20px;
    width: 20px;
  }

  &.nj-icon--size-scale {
    height: 1em;
    width: 1em;
  }
} // .usa-icon
