

<section class="nj-banner" aria-label="Official government website">
  <header class="nj-banner__header">
    <div class="grid-container">
      <div class="nj-banner__inner">
        <div class="grid-col-auto">
          <img class="nj-banner__header-seal" src="../../dist/img/nj_state_seal.png" alt="NJ flag">
        </div>
        <div class="grid-col-fill">Official Site of the State of New Jersey</div>
        <div class="grid-col-auto">Return to <a class="" href="https://nj.gov">NJ.gov</a></div>
      </div>
    </div>
  </header>
</section>

