

<div class="padding-1" style="max-width: fit-content">
<button class="usa-button usa-button--unstyled">Default</button>
  <button class="usa-button usa-button--unstyled usa-button--hover">Hover</button>
  <button class="usa-button usa-button--unstyled usa-button--active">Active</button>
  <button class="usa-button usa-button--unstyled usa-focus">Focus</button>
  <button class="usa-button usa-button--unstyled nj-button--icon">
    Icon Trailing
    <svg class="usa-icon usa-icon--size-3 margin-left-105" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="../../public/dist/img/sprite.svg#accessibility_new"></use>
    </svg>
  </button>
  <button class="usa-button usa-button--unstyled nj-button--icon">
    <svg class="usa-icon usa-icon--size-3 margin-right-105" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="../../public/dist/img/sprite.svg#accessibility_new"></use>
    </svg>
    Icon Leading
  </button>
  <button aria-label="icon-label" class="usa-button usa-button--unstyled nj-button--icon">
    <svg class="usa-icon usa-icon--size-3" focusable="false" role="img">
      <use xlink:href="../../public/dist/img/sprite.svg#accessibility_new"></use>
    </svg>
  </button>
</div>
