

<div class="bg-base-darkest padding-1" style="max-width: fit-content">
<button class="usa-button primary-button-dark">Default</button>
  <button class="usa-button primary-button-dark usa-button--hover">Hover</button>
  <button class="usa-button primary-button-dark usa-button--active">Active</button>
  <button class="usa-button primary-button-dark usa-focus">Focus</button>
  <button class="usa-button primary-button-dark button-icon">
    Icon Trailing
    <svg class="usa-icon usa-icon--size-3 margin-left-105" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="../../dist/img/sprite.svg#accessibility_new"></use>
    </svg>
  </button>
  <button class="usa-button primary-button-dark button-icon">
    <svg class="usa-icon usa-icon--size-3 margin-right-105" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="../../dist/img/sprite.svg#accessibility_new"></use>
    </svg>
    Icon Leading
  </button>
  <button aria-label="icon-label" class="usa-button primary-button-dark button-icon">
    <svg class="usa-icon usa-icon--size-3" focusable="false" role="img">
      <use xlink:href="../../dist/img/sprite.svg#accessibility_new"></use>
    </svg>
  </button>
</div>
