

<form class="usa-form">
  <div class="usa-form-group usa-form-group--error">
    <label class="usa-label usa-label--error" for="input-error">Text input label</label>
    <input class="usa-input usa-input--error" id="input-error" name="input-error" type="text" aria-describedby="input-error-message">
    <div class="nj-error-message-container">
        <svg class="usa-icon margin-right-1" focusable="false" aria-hidden="true" role="img">
          <use xlink:href="../../dist/img/sprite.svg#info"></use>
        </svg>
        <span class="usa-error-message" id="input-error-message" role="alert">Helpful error message</span>
    </div>
  </div>
</form>

