<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/white.css?cachebust=1.10.1" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.1" type="text/css">


<title>Error rendering component header--basic-mega-lang-es | NJ Web Design System (v2.1.0)</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>(unknown path)
  Template render error: (unknown path)
  Error: Could not render component &#39;@site-title--lang-es&#39; - component not found.</p>

    </div>
    
    <code class="Error-stack">
        <pre>Template render error: (unknown path)
  Template render error: (unknown path)
  Error: Could not render component '@site-title--lang-es' - component not found.
    at Object._prettifyError (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/lib.js:36:11)
    at /Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:563:19
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:11:11)
    at /Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/@frctl/nunjucks/src/extensions/render.js:47:25
    at process.processTicksAndRejections (node:internal/process/task_queues:95:5)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.1"></script>



</body>
</html>
