

<div class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Identificador de la agencia">
    <div class="usa-identifier__container"><div class="usa-identifier__logos">
        <a href="javascript:void(0);" class="usa-identifier__logo">
          <img
            class="usa-identifier__logo-img"
            
            src="../../dist/img/nj-logo-gray-20.png"
            
            
            alt="Logo de la &lt;Parent agency&gt;"
            
            role="img">
        </a></div><div class="usa-identifier__identity" aria-label="Descripción de la agencia">
        <p class="usa-identifier__identity-domain"></p>
        <p class="usa-identifier__identity-disclaimer">Un sitio web oficial de <a href="javascript:void(0);">&lt;Parent agency&gt;</a>. Producido y publicado con dinero de los contribuyentes de impuestos.</p>
      </div>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Enlaces importantes">
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/governor/admin/about/" class="usa-identifier__required-link">
            Governor Phil Murphy
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/governor/admin/lt/"
            class="usa-identifier__required-link">
            Lt. Governor Sheila Oliver
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/"
            class="usa-identifier__required-link usa-link">
            NJ Home
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/nj/gov/njgov/alphaserv.html"
            class="usa-identifier__required-link usa-link">
            Services A to Z
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/nj/gov/deptserv/" class="usa-identifier__required-link usa-link">
            Departments/Agencies
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/faqs/" class="usa-identifier__required-link usa-link">
            FAQs
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/nj/feedback.html" class="usa-identifier__required-link usa-link">
            Contact Us
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/nj/privacy.html" class="usa-identifier__required-link usa-link">
            Privacy Notice
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/nj/legal.html" class="usa-identifier__required-link usa-link">
            Legal Statement & Disclaimers
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/nj/accessibility.html" class="usa-identifier__required-link usa-link">
            Accessibility
          </a>
        </li>
        <li class="usa-identifier__required-links-item">
          <a href="https://nj.gov/opra/" class="usa-identifier__required-link usa-link">
            Open Public Records Act (OPRA)
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="usa-identifier__section usa-identifier__section--usagov" aria-label="Información y servicios del Gobierno de EE. UU.">
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">¿Necesita información y servicios del Gobierno?</div>
    </div>
  </section>
  </div>

