@use "uswds-core" as *;

.usa-link {
  &:focus,
  &.usa-focus {
    outline: 0.25rem solid color($theme-focus-color);
    background-color: color("white");
    color: color($theme-link-active-color);
    &:hover {
      color: color($theme-link-active-color);
    }
    &:visited {
      color: color($theme-link-visited-color);
    }
  }
}
