<svg class="usa-icon nj-icon--size-scale" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--size-3" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--size-4" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--size-5" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--size-6" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--size-7" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--size-8" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>

<svg class="usa-icon usa-icon--size-9" focusable="false" aria-hidden="true" role="img">
  <use xlink:href="{{ uswds.path }}/img/sprite.svg#accessibility_new"></use>
</svg>