@use "uswds-core" as *;

.nj-banner {
  @include typeset($theme-banner-font-family);
  @include border-box-sizing;
  background-color: color($theme-banner-background-color);
  font-size: font-size($theme-banner-font-family, "2xs");
  line-height: line-height($theme-banner-font-family, 1);
  min-height: units($size-touch-target);
  position: relative;

  &__header {
    @include u-padding-y(1);
    @include set-text-from-bg($theme-banner-background-color);
    // display: flex;

    a {
      @include set-text-from-bg($theme-banner-background-color);
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    } // a

    li {
      display: none;

      // Set min-width so the names are hidden before the stateOfNjText wraps to
      // 3 lines
      @media (min-width: 46rem) {
        display: inline;
      }
      margin-inline-end: units(1);
      padding-inline-end: units(1);
      border-inline-end: 1px solid;

      &:last-child {
        display: inline;
        margin-inline-end: 0;
        padding-inline-end: 0;
        border-inline-end: 0;
      }
    } // li

    &-seal {
      padding-inline-end: units(1);
    } // .nj-banner__header-seal
  } // .nj-banner__header

  &__inner {
    @include grid-row;
    @include u-flex("align-center");
    padding-inline-end: 0;
  } // .nj-banner__inner

  &__mail-icon {
    margin-inline-end: units(0.5);
  }
}
