@use "uswds-core" as *;

// Radio Buttons
.usa-radio {
  background: none;
}

.usa-radio__label::before {
  box-shadow: 0 0 0 2px color($theme-color-base);
}

// Radio & Checkbox tile variants
.usa-radio__input--tile:checked + [class*="__label"],
.usa-checkbox__input--tile:checked + [class*="__label"] {
  background-color: color($theme-color-primary-lighter);
}

.usa-radio__input--tile + [class*="__label"],
.usa-checkbox__input--tile + [class*="__label"] {
  border-color: color($theme-color-base-light);
}
.usa-radio__input.usa-radio__input--tile:checked + [class*="__label"]::before,
.usa-checkbox__input.usa-checkbox__input--tile:checked + [class*="__label"]::before {
  box-shadow:
    0 0 0 2px #005ea2,
    inset 0 0 0 2px #cfe8ff;
}

.usa-form-group--error {
  padding-left: units(2.5);
}

.nj-checkbox--error > .usa-checkbox__label::before {
  box-shadow: 0 0 0 2px color($theme-color-error-dark);
}

.nj-radio--error > .usa-radio__label::before {
  box-shadow: 0 0 0 2px color($theme-color-error-dark);
}
