<form class="usa-form">
  <label class="usa-label" for="options">{{ select.label }}</label>
  <select
    class="usa-select"
    name="options"
    id="options"
  >
    <option value>- Select -</option>
    <option {% if select.defaultValue =="value1" %} selected="selected"{% endif %} value="value1">Option A</option>
    <option value="value2">Option B</option>
    <option value="value3">Option C</option>
  </select>
</form>