<form class="usa-search usa-search--small {% if search_js %} js-search-form{% endif %}" role="search">
  <label class="usa-sr-only" for="{{ id_prefix }}search-field-small">Search small</label>
  <input class="usa-input" id="{{ id_prefix }}search-field-small" type="search" name="search">
  <button class="usa-button" type="submit">  
  <img
    src="{{ uswds.path }}/img/usa-icons-bg/search--white.svg"
    class="usa-search__submit-icon"
    alt="Search" /></button>
</form>
