<fieldset class="usa-fieldset">
  <div class="usa-checkbox">
      <input class="usa-checkbox__input" id="email-consent" type="checkbox" value="consented-promotional-email">
      <label class="usa-checkbox__label" for="email-consent">I want to receive a promotional email</label>
  </div>
</fieldset>