@use "uswds-core" as *;

.usa-prose,
.nj-prose {
  font-size: var(--grove-prose);

  // Wrap long links that would break page container
  a {
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  h1 {
    font-size: var(--grove-prose-h1);
    letter-spacing: -0.4px;
  }

  h2 {
    font-size: var(--grove-prose-h2);
  }

  h3 {
    font-size: var(--grove-prose-h3);
  }

  h4 {
    font-size: var(--grove-prose-h4);
  }

  h5 {
    font-size: var(--grove-prose-h5);
  }

  h6 {
    font-size: var(--grove-prose-h6);
  }
} // .usa-prose
