<section class="nj-banner" aria-label="Official government website">
  <header class="nj-banner__header">
    <div class="grid-container">
      <div class="nj-banner__inner">
        <div class="grid-col-auto">
          <img class="nj-banner__header-seal" src="{{ uswds.path }}/img/nj_state_seal.png" alt="NJ flag">
        </div>
        <div class="grid-col-fill"><a href="https://nj.gov">{{ banner.text }}</a></div>
        <div class="grid-col-auto">
          <div class="text-white">
            <ul>
              <li>Governor Phil Murphy &bull; Lt. Governor Tahesha Way</li><li><a
                href="https://nj.gov/subscribe/" target="_blank"><svg 
                  class="usa-icon bottom-neg-2px margin-right-05"
                  aria-hidden="true" focusable="false" role="img">
                  <use xlink:href="{{ uswds.path }}/img/sprite.svg#mail"></use>
              </svg>Get Updates</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
