name: Dependency Check

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  npm-audit:
    uses: newjersey/innovation-shared-actions/.github/workflows/npm-audit.yml@feat/dependency-checker
    with:
      node-version: ".nvmrc"      # Can be a file path or a literal version like "20"
      audit-level: "high"     # Optional, defaults to "critical"
