name: Dependency Security Check

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  npm-audit:
    name: Check for critical vulnerabilities
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24 # change this back to use the nvmrc file after node is upgraded
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run npm audit (fail on critical)
        run: npm audit --audit-level=critical

  notify-slack:
    name: Notify Slack on failure
    runs-on: ubuntu-latest
    needs: npm-audit
    if: failure()

    steps:
      - name: Send failure notification to Slack
        uses: newjersey/innovation-shared-actions/.github/workflows/slack.yml@main
        with:
            channel_id: C09Q36G9HMX #sandbox
            message: "Dependency security check failed :warning: Please review the npm audit report."
        secrets: inherit
