name: Dependency Security Check

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  npm-audit:
    name: Audit npm dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24 # change this back to use the nvmrc file after node is upgraded
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run npm audit (fail on critical)
        run: npm audit --audit-level=critical


