name: PR Checks

on:
  pull_request:
    branches:
      - "main"
  push:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  visual-regression-tests:
    name: Regression tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24 # change this back to use the nvmrc file after node is ugraded
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build design system and documenation
        run: npm run build-njwds && npm run build-docs

      - name: Install Playwright browsers
        run: npx playwright install --with-deps

      - name: Start static server
        run: |
          npx http-server ./build -p 3000 &
          npx wait-on http://localhost:3000

      - name: Run accessibility tests
        run: npm run test:accessibility

      - name: Run visual regression tests
        run: npm run test:visual
        env:
          CI: true

      - name: Upload Playwright report (on failure)
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report/

  build:
    name: Health checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24 # change this back to use the nvmrc file after node is ugraded
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Check Prettier formatting
        run: npm run format:check

      - name: Check Linting
        run: npm run lint

      - name: Run Tests
        run: npm run test

      - name: Check Typescript
        run: npx tsc --noEmit

      - name: Test run build-docs
        run: npm run build-docs

