name: 'Request Pull Request Review'

on:
    pull_request:
    push:
        branches:
            - main

jobs:
    request-pr-review:
        if: ${{ github.event.label.name == 'request-code-review' }}
        uses: newjersey/innovation-shared-actions/.github/workflows/slack.yml@main
        with:
            channel_id: C09Q36G9HMX #sandbox
            message: "[ <${{ github.event.pull_request.html_url }}|PR Review> ] ${{ github.event.repository.name }} - #${{ github.event.pull_request.number }}: ${{ github.event.pull_request.title }}"
            thread_message: "Please review the above pull request." # optional
            SLACK_OAUTH_TOKEN: ${{ secrets.SLACK_OAUTH_TOKEN }}
