

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/styles.css">
  </head>
  <body tabindex="0">
    <section class="nj-banner" aria-label="Official government website">
  <header class="nj-banner__header">
    <div class="grid-container">
      <div class="nj-banner__inner">
        <div class="grid-col-auto">
          <img class="nj-banner__header-seal" src="../../dist/img/nj_state_seal.png" alt="NJ flag">
        </div>
        <div class="grid-col-fill">Official Site of the State of New Jersey</div>
        <div class="grid-col-auto">Return to <a class="" href="https://nj.gov">NJ.gov</a></div>
      </div>
    </div>
  </header>
</section>

    <script src="../../dist/js/uswds.min.js"></script>
    <script>
    window.addEventListener('load', function() {
      document.body.addEventListener('submit', function(e) {
        // https://github.com/uswds/uswds/issues/2101
        e.preventDefault();
      }, true);
    }, false);
    </script>
  </body>
</html>

