

<!doctype html>
<html lang="en-US">
  <head>
    <title>Uswds: Default</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/styles.css">
  </head>
  <body tabindex="0">
    <div class="padding-1" style="max-width: fit-content">
<button class="usa-button usa-button--unstyled nj-button--unstyled-danger">Default</button>
  <button class="usa-button usa-button--unstyled nj-button--unstyled-danger usa-button--hover">Hover</button>
  <button class="usa-button usa-button--unstyled nj-button--unstyled-danger usa-button--active">Active</button>
  <button class="usa-button usa-button--unstyled nj-button--unstyled-danger usa-focus">Focus</button>
  <button class="usa-button usa-button--unstyled nj-button--unstyled-danger nj-button--icon">
    Icon Trailing
    <svg class="usa-icon usa-icon--size-3 margin-left-105" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="../../dist/img/sprite.svg#accessibility_new"></use>
    </svg>
  </button>
  <button class="usa-button usa-button--unstyled nj-button--unstyled-danger nj-button--icon">
    <svg class="usa-icon usa-icon--size-3 margin-right-105" aria-hidden="true" focusable="false" role="img">
      <use xlink:href="../../dist/img/sprite.svg#accessibility_new"></use>
    </svg>
    Icon Leading
  </button>
  <button aria-label="icon-label" class="usa-button usa-button--unstyled nj-button--unstyled-danger nj-button--icon">
    <svg class="usa-icon usa-icon--size-3" focusable="false" role="img">
      <use xlink:href="../../dist/img/sprite.svg#accessibility_new"></use>
    </svg>
  </button>
</div>
    <script src="../../dist/js/uswds.min.js"></script>
    <script>
    window.addEventListener('load', function() {
      document.body.addEventListener('submit', function(e) {
        // https://github.com/uswds/uswds/issues/2101
        e.preventDefault();
      }, true);
    }, false);
    </script>
  </body>
</html>

