<!DOCTYPE html>
<html lang="en-US" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">
<style>
    :root {
        
        
        
    }
</style>

<link rel="stylesheet" href="../../themes/mandelbrot/css/white.css?cachebust=1.10.1" type="text/css">

<link rel="stylesheet" href="../../themes/mandelbrot/css/highlight.css?cachebust=1.10.1" type="text/css">


<title>Error rendering component sign-in--lang-es-multiple | NJ Web Design System (v2.1.0)</title>

</head>
<body>



<div class="Frame Frame--full" id="frame">


<div class="Error Error--render">
    <h4 class="Error-title">Error rendering component</h4>
    <div class="Error-message Prose">
        <p>(unknown path) [Line 21, Column 7]
  Error: Could not render component &#39;@banner--lang-es&#39; - component not found.</p>

    </div>
    
    <code class="Error-stack">
        <pre>Template render error: (unknown path) [Line 21, Column 7]
  Error: Could not render component '@banner--lang-es' - component not found.
    at Object._prettifyError (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/lib.js:36:11)
    at /Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:563:19
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:29:11)
    at b_banner (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:98:3)
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:28:85)
    at b_skipnav (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:79:1)
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:24:86)
    at b_styles (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:66:1)
    at Template.root [as rootRenderFunc] (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:20:85)
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:51:16)
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:46:46)
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:46:83)
    at eval (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:42:46)
    at Template.root [as rootRenderFunc] (eval at _compile (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:633:18), <anonymous>:42:85)
    at Template.render (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:552:10)
    at Environment.renderString (/Users/sannidhishukla/Documents/platform/design-system/njwds/node_modules/nunjucks/src/environment.js:380:17)</pre>
    </code>
    
</div>


</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.10.1"></script>



</body>
</html>
